@import "../public/variables";

#building-view{
	#building-form{
		margin-top:0;
	    height: 100%;	  
        display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
  		flex-direction: column; 		

	    .button-container{
	    	padding-top:@size-80;
	    	flex: 1;	    	 
	    }
	}
}