@import "../public/variables";


.community-home-header{
	.header-box{
		height:@size-320;
		background:url('../img/longyan_xiaoquzuye.png');
	}
}

#community-home-view{
	padding-top:@size-320;
	
	.form-box{
		margin-top:0;


		.owner-name{
			font-size:@size-32;
			color:@color-text-font;
			float:left;
			margin-right:@size-20;
		}
		.touxiang{
			margin-top:@size-12;
			float:left;
			width:@size-80;
			height:@size-80;
			background:#f5f5f5;
			border:2px solid @color-frame-font;			
			border-radius:100%;
		}
		.label-right{
			i{
				font-size:@size-32;
				color:@color-text-font;
			}
		}
	}
}