@color-white:#fff;//纯白色
@color-main-blue:#0091ea; //主色调
@color-tips-yellow:#ff9966; //提示黄
@color-success-green:#32BE78; //成功绿
@color-alert-red:#e85043; //警告红

@color-menu-font:#333; //菜单文字
@color-text-font:#666; //正文文字
@color-comment-font:#999; //注释文字
@color-backgroud-font:#f5f5f5; //背景颜色
@color-frame-font:#e4e4e4; //边框颜色

//字体大小
@font-size-28:unit((28/23.5),rem);
@font-size-32:unit((32/23.5),rem);
@font-size-34:unit((34/23.5),rem);
@font-size-80:unit((80/23.5),rem);


@size-10:unit((10/23.5),rem);
@size-12:unit((12/23.5),rem);
@size-20:unit((20/23.5),rem);
@size-24:unit((24/23.5),rem);
@size-28:unit((28/23.5),rem);
@size-30:unit((30/23.5),rem);
@size-32:unit((32/23.5),rem);
@size-34:unit((34/23.5),rem);
@size-40:unit((40/23.5),rem);
@size-44:unit((44/23.5),rem);
@size-60:unit((60/23.5),rem);
@size-64:unit((64/23.5),rem);
@size-80:unit((80/23.5),rem);
@size-88:unit((88/23.5),rem);
@size-100:unit((100/23.5),rem);
@size-166:unit((166/23.5),rem);
@size-190:unit((190/23.5),rem);
@size-400:unit((400/23.5),rem);










